<h1>Edit Wiki</h1>
 
<div class="row">
<div class="col-md-4">
    <p>Guidelines for Wikis</p>
     <ul>
       <li>Make sure...</li>
       <li>Don't ...</li>
       <li>The incessant use ... banned.</li>
     </ul>
</div>    
 
<%= render partial: 'form', locals: { wiki: @wiki} %>
      
</div>  
  
